input{
    text-align:center
} 

.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 3; }


#col{
    margin-left: auto;
    margin-right:auto;
    width: 90%;
}

.text{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2;
    text-align: center;
}